{% load staticfiles %}
<!Doctype html>
<html lang="en">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


      <style>
         a:hover {
         background:#263238;
         }
         body {margin:2rem;}
         @media (min-width: 544px) {
         }
         @media (min-width: 768px) {
         }
         /* Large devices (desktops, 992px and up) */
         @media (min-width: 992px) {
         }
         /* Extra large devices (large desktops, 1200px and up) */
         @media (min-width: 1200px) {
         }
         @media (max-width: 950px) {
         }
      </style>
      <title>organiser_main</title>
   </head>


   <body>
      <nav class="navbar fixed-top container-fluid navbar-expand-lg navbar-light bg-dark">
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
         </button>

         <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <img src="{% static "images/e-voting.png"%}" alt="evoting image" width="50" height="50">
            <p style="color:white; font-size:30px;margin:5px"><a style="color:white;text-decoration: none" href="{% url 'evoting-home' %}" >E-Voting </a></p>
         </div>

         <ul class=" nav navbar-nav navbar-right">
            <li class="nav-item active">
               <a class="nav-link text-white" href="{% url 'organiser_app:election' %}" style="font-size:26px">Election <span class="sr-only">(current)</span></a>
            </li>
            <li>
               <p class="text-white " style="font-size:26px;margin:5px">|</p>
            </li>
            <li class="nav-item active">
               <a class="nav-link text-white" href="{% url 'organiser_app:party' %}" style="font-size:26px">Party <span class="sr-only">(current)</span></a>
            </li>
            <li>
               <p class="text-white " style="font-size:26px;margin:5px">|</p>
            </li>
             <li class="nav-item active">
               <a class="nav-link text-white " href="{% url 'charts:feedback_responses' %}" style="font-size:26px">Feedbacks <span class="sr-only">(current)</span></a>
            </li>
            <li>
               <p class="text-white " style="font-size:26px;margin:5px">|</p>
            </li>
            <li class="nav-item active">
               <a class="nav-link text-white " href="{% url 'organiser_app:evoting-logout' %}" style="font-size:26px">Logout <span class="sr-only">(current)</span></a>
            </li>
         </ul>
      </nav>


      <div class="container-fluid h-100 text-dark" style="margin-top:175px">
         <div class="row justify-content-center align-items-center h-100">
            <div class ="row">
               <div class="card sm-6" style="width: 18rem;">
                  <img class="card-img-top" src="{% static "images/neta.png"%}" alt="Card image cap" width="50" height="250">
                  <div class="card-body">
                     <a href="{% url 'organiser_app:index' %}" class="btn btn-primary" style="background-color:#424242">Candidates</a>
                  </div>
               </div>
               <div class="card sm-6" style="width: 18rem;margin-left:50px">
                  <img class="card-img-top" src="{% static "images/voters.jpeg"%}" alt="Card image cap" width="50" height="250">
                  <div class="card-body">
                     <a href="{% url 'organiser_app:select_region_page' %}" class="btn btn-primary" style="background-color:#006064">Voters</a>
                  </div>
               </div>
            </div>
         </div>
         <!-- /.container -->
         <!-- /.container -->
      </div>
      </div>


      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


      <script>
         $(document).ready(function() {
          // executes when HTML-Document is loaded and DOM is ready

           $( ".card" ).hover(
           function() {
             $(this).addClass('shadow-lg').css('cursor', 'pointer');
           }, function() {
             $(this).removeClass('shadow-lg');
           }
         );

         // document ready
         });

      </script>
   </body>
</html>
