{% extends 'voters/base.html' %}
{% load staticfiles %}
{% block head %}

    <link rel="stylesheet" href="{% static 'graphs\css1\style.css' %}">
{% endblock head %}
{%  block body %}

<br><br>
<div class="container">
<marquee id="slider" onMouseOver="this.stop()" onMouseOut="this.start()">Feedbacks Uploaded are:</marquee><br>
    </div>
{% for data in fresponse %}
<br><br>
    <main role="main" class="container">
    <div class="row">
        <div class="col md-5">
        <article class="media content-section" style="background-color:rgba(0, 206, 209, 0.8)">
        <div class="media-body">
            <div class="article-metadata">
                <br>
                <h3><center><p class ="article-content">{{data.feedback}}</p></center></h3>
                <center>Feedback by {{data.name}} on <small class="text-muted">{{data.date}}</small></center><br>

            </div>
        </div>
        </div>
    </article>
    </div>
    </main>
{% endfor %}

<div style="height: 400px"></div>
{% endblock body %}