<!DOCTYPE HTML>
{% load staticfiles %}
<html>
<head>
    <title>
        Feedback
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'graphs\css1\style.css' %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body id="reportbody" background="{% static 'graphs/images/bg8.jpg' %}"  >
<div class="feedback-page">
  <div class="form">
    <form class="feedback-form" action="{% url 'charts:send_email' %}" method="POST">
       {% csrf_token %}
     <h1>Report Problem</h1><br>
      <label>Name:</label>
      <input type="text" id="name1" name="name1" placeholder="Name"/>
      <label>Email:</label>
      <input type="email" id="email" name="email" placeholder="Email"></input>
      <label>Feedback:</label>
        <textarea rows="20" id="report" name="report" placeholder="Enter Report"/></textarea>
       <label for="stars">Rate Stars:</label><br>
       <fieldset class="rating">
        <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
        <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
        <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Satisfactory - 3 stars"></label>
        <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Need to Improve - 2 stars"></label>
        <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Poor - 1 star"></label>
      </fieldset>
      <button>Submit</button>
    </form>
  </div>
</div>
</body>
</html>