{% extends 'voters/base.html' %}
{% load crispy_forms_tags %}

{% block head %}

    <title>Password-Reset</title>

{% endblock head%}

{% block body %}

    {% if user.is_authenticated %}

        <div class="container">
            <h4>You are already logged in with an account!!</h4>
        </div>

    {% else %}

        <div class="container mt-5">
            <div class="container col-md-5">
                <form method="post" style="color: white;">
                    {% csrf_token %}
                    <div>
                        {{ form|crispy }}
                    </div>
                    <button type="submit" class="col send_mail_btn">Send Mail</button>
                </form>
            </div>
        </div>

    {% endif %}

{% endblock body %}
